#plot{
    width: 80%;
}

#video{
    width: 1200px;
    height: 720px;
	box-shadow: 5px 10px 5px rgba(128, 128, 128, 111);
}

#footer{
	padding-bottom: 200px;
}

#logo{
	padding: 0;
	height: 150px;
	width: auto;
	padding-left: 50px;
}

#title{
	padding: 0	
}

#header{
	align-content: center;
	height: 200px;
}

aside{
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid #111;
}

hr{
    width: 85%;
    border: 1px solid #777777;
}

.command{
	background: #0099ff;
	color: white;
    text-align: center;
    padding: 10px;
    min-height: 100px;
    border: 1px solid #005599;
}

.command:hover{
	background: #0088DD;
	color: white;
}

.command:active{
	background: #0077BB;
	color: white;
}


#nav-network-content{
    min-height: 450px;
    margin-bottom: 50px;
}

#nav-network-plot{
    min-height: 500px;
    margin-bottom: 50px;
}

#footer{
    margin-bottom: 500px;
}

#gauges{
    margin-top: 50px;
}

#throughput_block{
    width: 600px;
    height: 300px;
}
#snr_block{
    width: 600px;
    height: 300px;
}
